header, #timerContainer, #webex {
    margin-left: 20px;
    padding: 10px;
    border-radius: 10px;
}

header {
    background-color: cadetblue;
    color: white;
}

#courseTitle {
    margin-bottom: 0px;
}

#timerContainer {
    font-size: x-large;
    height: 50px;
    background-color: cyan;
    color: black;
}

svg {
    width: 95px;
    height: 90px;
    float: left;
    margin: 5px;
    margin-right: 50px;
}

#ticks {
    transform: scale(0.7);
    height: 1200px;
    transform-origin: 0 0;
    overflow: auto;
}

#message {
    margin-left: 3em;
}

emoji {
    font-size: x-large;
}

.largeEmoji {
    font-size: 40px;
}

#timer {
    width: 400px;
}

li:before {
    counter-increment: li;
    content: counter(li, decimal-leading-zero);
    color: black;
    margin-right: 0.25em;
}

ol {
    list-style-type: none;
    counter-reset: li;
}

div.introLine > span {
    margin: 30px;
}

div.passwords > span {
    margin-left: 5px;
}

div.passwords {
    width: 100%;
}

a {
    text-decoration: none;
}

#txtArea {
    width: 95%;
    font-size: x-large;
    padding-left: 5px;
    margin-left: 5px;
}

#pcs {
    column-count: 3;
    column-gap: 20px;
}

#password1, #password2 {
    width: 8em;
}

#pcsContainer {
    padding: 5px;
    background-color: lightgoldenrodyellow;
    border-radius: 5px;
    box-shadow: 2px 2px 4px grey;
    margin-bottom: 5px;
}
